<?xml version="1.0"?>
<config>
    <modules>
        <Eltrino_Thirdarea>
            <version>0.0.0.1</version>
        </Eltrino_Thirdarea>
    </modules>
    <global>
        <blocks>
            <thirdarea>
                <class>Eltrino_Thirdarea_Block</class>
            </thirdarea>
        </blocks>
        <models>
            <thirdarea>
                <class>Eltrino_Thirdarea_Model</class>
            </thirdarea>
        </models>
    </global>
    <thirdarea>
        <routers>
            <thirdarea>
                <use>thirdarea</use>
                <args>
                    <module>Eltrino_Thirdarea</module>
                    <frontName>thirdarea</frontName>
                </args>
            </thirdarea>
        </routers>
    </thirdarea>
    <stores>
        <default>
            <web>
                <routers>
                    <thirdarea>
                        <area>thirdarea</area>
                        <class>Eltrino_Thirdarea_Controller_Router_Thirdarea</class>
                    </thirdarea>
                </routers>
            </web>
        </default>
    </stores>
</config>